@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --theme-color: #5086b5;
  --color-light: #fff;
}
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--theme-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--theme-color);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: var(--color-light);
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: var(--theme-color);
  color:  var(--color-light);
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme-color);
  color:  var(--color-light);
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.fa-trash {
  margin-left: 0.75rem;
}

.completed {
  color: #98cfff;
  text-decoration: line-through;
}
 
.shake {
  border-color: red ;
  animation: shake 0.5s;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-5px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(5px);
  }
}

.Input-fields{
  display: flex;
  flex-direction: column;
  position: relative;
}

.form-input{
  outline: none;
  background: none;
  border: 1px solid var(--theme-color);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  /* margin-bottom: 2rem; */
  width: 300px;
  color: var(--color-light);
}
.submit-btn{
  margin-top: 1rem;
  background: var(--theme-color);
  color:  var(--color-light);
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
.submit-button{
  display: flex;
  flex-direction: column;
}
.Input-fields > span{
  position: absolute;
  top: 77px;
  right: 7px;
  cursor: pointer;
  color: var(--color-light);
}